.beatdown .sheetroll .note {
  float: left;
}

.beatdown .sheetroll .clear {
  clear: both;
}

.beatdown .sheetroll .note,
.beatdown .sheetroll .shortcode {
  position: relative;
  box-sizing: border-box;
  height: 60px;
  width: 60px;
}

.beatdown .sheetroll .note {
  border: 1px dotted #fff;
}

.beatdown .sheetroll .note.active {
  border-left: 2px solid blue;
  border-right: 2px solid blue;
}

.beatdown .sheetroll .note.on {
  background-color: #000;
}

.beatdown .sheetroll .note.off {
  background-color: #ddd;
}

.beatdown .sheetroll .shortcode {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

